
matplotlib==3.9.4
numpy==1.23.5
pandas==2.2.3
pandas-profiling==3.6.6
Pillow==9.4.0
platformdirs==3.10.0
plotly==5.11.0
seaborn==0.13.2
streamlit==1.42.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-elements==0.1.0
streamlit-embedcode==0.1.2
streamlit-extras==0.5.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-option-menu==0.4.0
streamlit-pandas-profiling==0.1.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
ydata-profiling==4.12.2
scikit-learn==1.6.1
patool==4.0.0
oauthlib==3.2.2
psutil==5.9.5